body {
  background-color: #edf7f2;
  font-family: "Alegreya", serif;
  color: #241911; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Oswald', sans-serif; }
  body .navbar-default, body .navbar-brand {
    background-color: #241911;
    border-color: #000;
    color: #4bb5c1 !important;
    font-family: 'Oswald'; }
  body .navbar-nav > li > a {
    color: #4bb5c1 !important;
    font-family: 'Oswald'; }
  body .navbar-nav > li > a:hover {
    color: #7fc6bc !important; }
  body .navbar-toggle {
    border-color: #4bb5c1 !important; }
  body #footer {
    background-color: #241911;
    border-color: #000;
    color: #4bb5c1 !important; }
    body #footer p {
      font-family: 'Oswald', sans-serif;
      text-align: center; }
  body ul {
    text-align: left; }

.page-header {
  text-align: center; }

.portfolio {
  font-size: 1em !important;
  text-align: center; }

#nexus5_01 {
  padding-bottom: 20px !important; }

#nexus5_02 {
  padding-bottom: 20px !important; }

.panel-group {
  max-width: 98%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .panel-group {
      max-width: 95%; } }
