@mixin nav-foot-style {
	background-color: #241911;
	border-color: #000;
	color: #4bb5c1 !important;
	}	

$font-stack: 'Alegreya', serif;
$primary-color: #241911;
$primary-accent-color: #4bb5c1;
$secondary-accent-color:#7fc6bc;
$select-accent-color: #b0f04f;



body {
	background-color: #edf7f2;
	font-family: $font-stack;
	color: $primary-color;
	h1, h2, h3, h4, h5 {
		font-family: 'Oswald', sans-serif;
		}
	
	.navbar-default, .navbar-brand {
		@include nav-foot-style;
		font-family: 'Oswald';
		}
	
	.navbar-nav>li>a{
		color:$primary-accent-color !important;
		font-family: 'Oswald';
		}
	
	.navbar-nav>li>a:hover{
		color:$secondary-accent-color !important;
		}	
	
	.navbar-toggle {
		border-color: $primary-accent-color !important;
		}
	
	#footer {
		@include nav-foot-style;
		p {
			font-family: 'Oswald', sans-serif;
			text-align: center;
		}
	}

	ul {
		text-align: left;
	}
}

.page-header {
	text-align: center;
}

.portfolio {
	font-size: 1em !important;
	text-align: center;
}

#nexus5_01{
	padding-bottom: 20px !important;
}
#nexus5_02{
	padding-bottom: 20px !important;
}

.panel-group {
	max-width: 98%;
	margin: 0 auto;
	@media (min-width: 768px){
		max-width: 95%;
	}
}

.contact-options {
	list-style-type: none !important;
	background: none !important;
	li {
		margin: 0 auto;
	}

}

.container h1 {
	text-align: center;
}

.container {
	max-width: 98%;
	@media (min-width: 768px) {
		max-width: 600px;
	}
	@media (min-width: 992px) {
		max-width: 800px;
	}
	@media (min-width: 1200px) {
		max-width: 1000px;
	}
}

.center-block  {
	max-width: 200px;
	button {
		margin-bottom: 10px;
		border-color: $primary-color;
	}
}

.live-link {
	text-align: center;
}

.navbar-brand {
	background-repeat: no-repeat;
	background-image: url('../img/darkstar.png');
	background-position: center;
	background-origin: border-box;
	background-size: contain;
	background-clip: border-box;
}